<ul class="navbar-nav">
  <li class="nav-item">
    <a class="nav-link"
        asp-action="Index" asp-controller="Home"> <!-- vodi na upravljač Home akciju Index-->
      Početna stranica
    </a>
  </li>
    
  <li class="nav-item"> <!-- označava link kao aktivan -->
    <a class="nav-link 
  @(ViewBag.Controller == "Poslovi" ? "active": "")"  
        asp-action="Index" asp-controller="Poslovi">
      Poslovi
    </a>
  </li>
  
  <li class="nav-item">
    <a class="nav-link 
  @(ViewBag.Controller == "Mjesto" ? "active": "")"
        asp-action="Index" asp-controller="Mjesto">
      Natječaji
    </a>
  </li>
  
  <li class="nav-item">
    <a class="nav-link 
  @(ViewBag.Controller == "Artikl" ? "active": "")"
        asp-action="Index" asp-controller="Artikl">
      Usluge
    </a>
  </li>
 
  <li class="nav-item">
    <a class="nav-link 
  @(ViewBag.Controller == "Partner" ? "active": "")"
        asp-action="Index" asp-controller="Partner">
      Oprema
    </a>
  </li>
 
  <li class="nav-item">
    <a class="nav-link 
  @(ViewBag.Controller == "Dokument" ? "active": "")"
        asp-action="Index" asp-controller="Dokument">
      Zaposlenici
    </a>
  </li>
 
  <li class="nav-item">
    <a class="nav-link 
  @(ViewBag.Controller == "Report" ? "active": "")"
        asp-action="Index" asp-controller="Report">
      Izvještaji
    </a>
  </li>
  
  <li class="nav-item">
    <a class="nav-link 
  @(ViewBag.Controller == "ViewLog" ? "active": "")"
        asp-action="Index" asp-controller="ViewLog">
      Pregled log datoteka
    </a>
  </li>    
</ul>
